<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diane Arnold</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
    <link rel="stylesheet" href="style.css">
    </head>

<div class="container" id="page-content">
      <!-- Content here -->
      <div class="row">
        <div class="col-sm-4">
            <img id="profile-pic" src="https://leapliving.com/Theme/LeapLiving2016/assets/images/diane-arnold-headshot.png" alt="Profile Pic">
        </div> 
        <div class="col-sm-8">
            <h1>About Me</h1>
            
            <p>Bacon ipsum dolor amet pork chop meatloaf ball tip, boudin landjaeger salami drumstick brisket jowl. Ground round andouille bacon flank tenderloin pork pancetta chuck kevin cow jowl. Tenderloin beef chuck, leberkas sausage cupim jowl meatloaf ham. Bresaola turkey alcatra pork loin ribeye. Filet mignon turducken jerky doner, andouille biltong sirloin sausage flank turkey tenderloin meatball picanha corned beef. Jerky picanha meatloaf, filet mignon capicola pig sausage kevin meatball prosciutto.</p>
        
            <p>Alcatra bresaola salami tail andouille. Salami doner prosciutto, beef pig picanha bresaola corned beef. Chuck boudin sausage short ribs, porchetta corned beef pork chop t-bone filet mignon andouille pancetta. Pastrami ball tip drumstick tail. Corned beef chicken ground round pork chop, short ribs andouille landjaeger pastrami alcatra.</p>
          
            <a class="btn btn-outline-dark" href="https://github.com/carolyn-d-arnold" role="button" target="_blank">GitHub</a>
            
            <a class="btn btn-outline-dark" href="https://www.linkedin.com/in/diane-arnold-b16b3528" role="button" target="_blank">LinkedIn</a>
          </div>
       </div>
  </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</html>